@font-face {
  font-family: aoki;
  src: url(../mmfiles/fonts/AokiRegular.otf);
}

body {
  font-family: aoki;
  background-color: #27282e;
  color: #f5feff;
  font-size: 1vw;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #27282e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-rectangle {
  background-color: #57BEC2;
  border-radius: 5vw;
  width: 2vw;
  height: 5vw;
  margin: 1vw;
}

@keyframes hopping {
  0%,
  100% {
    background-color:#57bec2;
    transform: translateY(0);
  }
  50% {
    background-color: #34696b;
    transform: translateY(3vw);
  }
}

.loading-rectangle {
  --delay: 0s;
  animation: hopping 1s var(--delay) infinite ease-in;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

h1 {
  font-size: 3vw;
  margin-left: 1vw
}

#audio {
  z-index: 3;
  position: absolute;
  right: 7%;
  top: 3.4%;
  width: 15vw;
}

.source-hyperlink{
  text-decoration: none;
  color:  #57BEC2;
}

.sources-content {
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 3vh;
}

table {
  width: 35vw;
}

/*Social media tags*/
.facebook {
  background-position: -250px 0;
  margin-top: 25px;
}
.facebook:hover {
  background-position: -250px -50px;
}
.facebook:active {
  background-position: -250px -100px;
}

.instagram {
  background-position: -50px 0;
}
.instagram:hover {
  background-position: -50px -50px;
}
.instagram:active {
  background-position: -50px -100px;
}

.twitter {
  background-position: -150px 0;
}
.twitter:hover {
  background-position: -150px -50px;
}
.twitter:active {
  background-position: -150px -100px;
}

.youtube {
  background-position: -200px 0;
}
.youtube:hover {
  background-position: -200px -50px;
}
.youtube:active { 
  background-position: -200px -100px;
}

.spotify {
  background-position: -100px 0;
}
.spotify:hover {
  background-position: -100px -50px;
}
.spotify:active {
  background-position: -100px -100px;
}

.website {
  background-position: 0 0;
}
.website:hover {
  background-position: 0 -50px;
}
.website:active {
  background-position: 0 -100px;
}

aside {
  z-index: 3;
  position: fixed;
  width: 64px;
  right: 1.4vw;
  top: 4.5vw;
}
#media-links > a {
  text-decoration: none;
  background-image: url("../images/social_media_sprites.png");
  width: 50px;
  height: 50px;
  display: inline-block;
}
.media-links{
  text-align: center;
  background-color: #191A1F;
  border-radius: 10px;
	max-height: 0;
	height: 350px;
	overflow: hidden;
  transition: max-height .2s;
}

button {
  top: 2vw;
  right: 2vw;
  width: 3.5vw;
  height: 3.5vw;
  position: fixed;
  background-color: #57BEC2;
  color: white;
  font-size: 2vw;
  border: none;
  border-radius: 10px;
}