main {
    width: 70%;
    margin-left: 15%;
}

#name{
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 65px;
    margin-bottom: 20px;
}
#cavendish{
    color: var(--yellow);
    letter-spacing: 15px
}

article {
    text-align: justify;
    text-justify: inter-word;
    width: 360px;
}

aside{
    margin-top: 50px;
}
#farm{
    background-color: var(--green);
    color: white;
    font-weight: bold;
    height: 50px;
    width: 200px;
}

/*  side design */
#art {
    position: absolute;
    right: 0%;
    top: 0;
    height: 100%;
    width: 55%;
    overflow: hidden;
}

.circle {
    height: 750px;
    width: 750px;
    border-radius: 50%;
    background: var(--green);
    opacity: 0.5;
    position: absolute;    
}
#c1 {
    margin-top: -150px;
    margin-left: 200px;
}

#c2 {
    margin-top: 100px;
    margin-left: 200px;
}

#c3 {
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 300px;
}

