body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

.survey {
  height: 100vh;
  width: 100vw;

  display: grid;
  align-items: center;
  justify-items: center;
}

/* General styling for survey cards */
.survey_card {
  position: absolute;
  width: 45vw;
  height: 70vh;

  background-color: white;
  border: 2px solid black;
  border-radius: 2vw;

  display: grid;
  align-items: center;
  justify-items: center;
}

h1 {
  font-size: 3.5vw;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1vw;
}

button {
  position: absolute;
  bottom: 4vh;
  height: 3vw;
  width: 9vw;
}

#nxt_btn {
  margin-left: 10%;
}

#prev_btn {
  margin-left: -10%;
}

.card_content form {
  font-size: 1vw;
}

select,
label,
input {
  font-size: 1vw;
}

.card_content {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

.reset_btn {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  height: 3vw;
  width: 9vw;
}

/* Directions card */
#intro>h1 {
  margin-left: 10%;
  margin-top: 10%;
}

#intro p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 35%;
  text-align: justify;
}


/* Color card */
#color td {
  text-align: right;
  padding: 0.25vw;
}

#color>h1 {
  margin-bottom: 0.75vw;
}

#color h2 {
  margin-top: 0.5vw;
  margin-bottom: 0.25vw;
}

#border_width {
  font-size: 1vw;
  width: 5vw;
  text-align: center;
}

.grad_bg {
  display: none;
}

.solid_bg_color {
  display: none;
}



/* Fonts card */
.label_cont {
  text-align: left;
}

#font_card input {
  text-align: center;
  width: 7vw;
}

#font_card select {
  width: 8.5vw;
}

#font_table_space {
  width: 2vw;
}


/* Conclusion card */
#last_question {
  height: 100%;
  width: 100%;
}

#last_question > h2 {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 25%;
  text-align: center;
}

.slider_container {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 50%;
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1vw;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background: #2ecc71;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background: #2ecc71;
  cursor: pointer;
}

#emoji {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4vw;
  margin-top: 3vw;
}